<h1 class="fs-3 mt-3 ms-3 text-danger text-center">
    Hi {{data}}
</h1>

<div>
    <div class="text-center row w-100">
        <div class="col-lg-6 col-md-6 col-sm-12 mt-12">
            <form [formGroup]="loginForm" id="d"
                style="background-color: rgb(120, 102, 20);margin-top: 100px; border-radius: 20px;"
                class=" p-4 w-75 container " action="">
                <h1 style="color:white ; ">Sign In</h1>

                <div class="mt-2 p-2">
                    <input formControlName="acno" id="u1" name="accountno" class="form-control mt-2 p-2" type="text"
                        [placeholder]="pdata">
                </div>
                <div *ngIf="loginForm.get('acno')?.errors&&loginForm.get('acno')?.touched">
                    <p class="text-danger">Accept numbers only</p>
                </div>


                <div class="mt-2 p-2">
                    <input formControlName="psw" id="p1" name="loginpassword" class="form-control mt-2 p-2"
                        type="password" placeholder="Enter password">
                </div>
                <div *ngIf="loginForm.get('psw')?.errors&&loginForm.get('psw')?.touched">
                    <p class="text-danger">Accept letters and numbers only</p>
                </div>



                <button (click)="login()" type="button" class="btn btn-outline-warning m-2">LogIn</button>
                <p style="color: white;">Don't have an account?
                    <a style="color: white; text-decoration: none;" href="register"><strong>Create an
                            account</strong></a>
                </p>
            </form>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-0 mt-0 p-4">
            <img id="d" style="height: 500px;" src="https://i.postimg.cc/gjwrCkxK/Senza-titolo-1.png" alt="">
        </div>

    </div>
</div>